<?php
define('DB_HOST', 'localhost');
define('DB_USER', 'DBUSER');
define('DB_PASS', 'DBPASSWORD');
define('DB_NAME', 'DATABASE');
define('DB_CHARACTERSET', 'utf8');

define('DEBUGMODE','false');

define('MailSender', 'mailSender@example.com');

define('ownStaGramAdmin', 'mailSender@example.com');

define('siteName', 'ownStaGram');

define('mytimezone', "Europe/Berlin");
