<?php
define('DB_HOST', 'localhost');
define('DB_USER', 'DBUSER');
define('DB_PASS', 'DBPASSWORT');
define('DB_NAME', 'DATABSE');
define('DB_CHARACTERSET', 'utf8');

define('MailSender', 'mailSender@example.com');

define('ownStaGramAdmin', 'mailSender@example.com');
