	<div class="row-fluid">
		    <div class="span4">
		      <h2>Photo-Sharing</h2>
		      <p>OwnStaGram is a free photo-sharing software which allows to upload photos from within this site and an available <a href='http://www.mad5.de/ownstagram/resources/badge_android.png' target='_blank'>android-app</a>.</p>
		      <p>Every picture can be shared via an unique url.<br/><a href='http://www.mad5.de/ownstagram/index.php?action=detail&id=2536ffcf71a8d53d07c73393fafe8b95' target='_blank'>Try this one...</a></p>
		      <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
		    </div><!--/span-->
		    <div class="span4">
		      <h2>Self-Hosted</h2>
		      <p>
		      OwnStaGram is a small PHP-OpenSource-project which will be installed easily on every php/mysql-enabled server.
		      </p>
		      
		    </div><!--/span-->
		    <div class="span4">
		      <h2>Ownership</h2>
		      <p>
		      Keep the ownership of your photos. No one will every use them for advertising or anything else.<br>
		      Your photos belong to you.
		      </p>
		      
		    </div><!--/span-->
		  </div><!--/row-->
		  <div class="row-fluid">
		    <div class="span4">
		      <h2>Open-Source</h2>
		      <p>
			the ownStaGram-platform is licensed under GPL-V3.<br/>
			<a href='https://sourceforge.net/projects/ownstagram/' target="_blank">See project at sourceforge.net</a><br/>
			Download latest version: 
				<a href='https://sourceforge.net/projects/ownstagram/files/latest/download' target="_blank">ownStaGram.tar.gz</a>
		      </p>
		      
		    </div><!--/span-->
		    <div class="span4">
		      <h2>Minimum requirements</h2>
		      <p>
			You need a PHP/MySQL enabled webserver. Nothing more.
		      </p>
		      
		    </div><!--/span-->
		    <div class="span4">
		      <h2>App &amp; API</h2>
		      <p>
			Use the free <a href='http://www.mad5.de/ownstagram/resources/badge_android.png' target="_blank">android-app</a> to take and share photos from everywhere.<br/>
			An API to use the service from within other software is in development.<br/>
			<center>
			<a href='https://play.google.com/store/apps/details?id=org.apache.cordova.ownstagram' target="_blank"><img src='resources/badge_android.png' border=0 /></a>
			</center>
		      </p>
		      
		    </div><!--/span-->
	</div><!--/row-->
